* {
    box-sizing:border-box;
}

h1 {
    background-color: darkblue;
    color:wheat;
    text-align: center;
}

input[type="text"]{
    background:#e7e7e7;
    font-weight:bold;
    font-size:20px;
    border:none;
    border-radius: 2px;
    padding: 10px 10px;
}

input[type="submit"]{

    background:turquoise;
    font-weight:bold;
    font-size:20px;
    border:none;
    border-radius: 2px;
}

input[type="cts"]{

    background:#e7e7e7;
    font-weight:bold;
    font-size:20px;
    border:none;
    border-radius: 2px;
}

